/* Основной стиль страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Стиль для шапки сайта */
header {
    background-color: #333;
    height: 15%; /* Увеличиваем высоту шапки */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly; /* Равномерное распределение кнопок */
    align-items: center; /* Выравнивание по вертикали */
}

nav ul li {
    text-align: center;
    margin: 0 30px; /* Увеличиваем расстояние между кнопками */
}

/* Стили для ссылок в навигации */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 30px; /* Увеличиваем padding для кнопок */
    font-size: 24px; /* Увеличиваем шрифт */
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #ff0;
}

/* Стили для выпадающего списка */
select {
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select:focus {
    outline: none;
    border-color: #4CAF50;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

/* Контейнер для надписи "Введите слово" */
.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Отступ сверху */
}

/* Плитка с буквами */
.letter-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Плитка 6x6 */
    grid-gap: 25px;
    margin-top: 15px;
    max-width: 45px;
    margin-left: 750px;
    margin-right: auto;
    justify-content: center;
}

.letter-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.letter-btn:hover {
    background-color: #555;
}

/* Поле для ввода */
#input-field {
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    width: 300px;
    text-align: center;
}

/* Стиль для кнопки "Начать игру" */
.start-btn {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start-btn:hover {
    background-color: #555;
}

/* Контейнер для кнопки "Начать игру" и таймера */
.start-game-container {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin-top: 30px; /* Отступ сверху */
}

/* Стиль для таймера */
#timer {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
}

.delete-btn {
    margin-right: 20px; /* Отступ справа для кнопки "Удалить" */
}

/* Кнопка "Проверить слово" */
.check-btn {
    margin-left: 20px; /* Отступ слева для кнопки "Проверить слово" */
}


/* Стили для контейнера с информацией об игре */
.welcome-container {
    text-align: center; /* Центрируем текст */
    margin-top: 25px; /* Отступ сверху */
}

.welcome-container h1 {
    font-size: 32px; /* Размер шрифта для заголовка */
    color: #333;
    margin-bottom: 20px; /* Отступ снизу */
}

.welcome-container p {
    font-size: 18px; /* Размер шрифта для параграфов */
    color: #555;
    margin-bottom: 10px; /* Отступ снизу */
}

.table{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

table, td, th {
    border-collapse: collapse;
    border: 3px solid #245488;

  }
td, th {
    /* делаем отступ в ячейках, выставляем выравнивание текста */
    padding: 10px 20px;
    text-align: center;
}

table {
    width: 9%; /* Ограничиваем ширину таблицы, уменьшаем её */
    max-width: 800px; /* Максимальная ширина */
    border-collapse: collapse;
    margin: 0 auto; /* Центрируем таблицу */
}